@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu';
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem;
}
.navbar .navs{
  display: flex;
  align-items: center;
  gap: 2rem;
}
.navbar .navs .bars{
  display: none;
  height: 1.2rem;
  cursor: pointer;
}
.navbar .navs h2{
  font-size: 2rem;
  color: rgb(98, 0, 255);

}
.navbar .navs .links{
  display: flex;
  gap: 1.5rem;
  font-size: 1.1rem;
}
.navbar .navs .links a{
  color: black;
  text-decoration: none;
}
.navbar .navs .links a:hover{
  color: rgb(98, 0, 255);
}
.navbar .search-bar{
  width: 30rem;
  background-color: #222;
  display: flex;
  align-items: center;
  border-radius: 5px;

}
.navbar .search-bar .search-icon{
  color: rgba(245, 245, 245, 0.816);
  margin-left: 0.8rem;
}

.navbar .search-bar input{
  width: 100%;
  padding: 0.8rem;
  background-color: #222;
  outline: none;
  border: none;
  color: white;
  border-radius: 5px;
}
.navbar .search-bar input::placeholder{
  font-size: 0.9rem;
  color: white;
}





.search-page{
  background: black;
  height: 100vh;
  padding: 0 1rem;
  overflow: hidden;
}
.search-page .times{
  background-color: #fff;
  border-radius: 50%;
  padding: 0.5rem 0.8rem;
  height: 1.5rem;
  cursor: pointer;
  position: absolute;
  top: 1.5%;
  left: 90%;
}
.search{
  width: 100%;
  margin: auto 25%;
}
.search input{
  background: #222;
  border: none;
  outline: none;
  width: 50%;
  padding: 1rem;
  color: #fff;
  font-size: 1rem;
  border-bottom: 2px solid #fff;
}
.search input::placeholder{
  font-size: 1rem;
  color: #fff;
}
.show{
  left: 0;
}
.hide{
  left: -100%;
}

.header{
 background: url(./pages/images/im4.jpg.jpg) no-repeat center center/ cover;
 height: 100vh;
 width: 100%;
}


@media (max-width: 900px){
  .navbar{
    padding: 1rem 2rem;
  }
  .navbar .navs .bars{
    display: block;
  }
  .navbar .navs h2{
    font-size: 1.3rem;
  }
  .navbar .navs .links{
    position: absolute;
    top: 5rem;
    left: 0;
    background-color: #222;
    color: #fff;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    flex-direction: column;
    width: 10rem;
    align-items: center;
    padding-top: 4rem;
    gap: 1rem;
    height: 20rem;
    transition: all 1s;
  }
  .navbar .navs .links a{
    color: #fff;
    font-size: 0.8rem;
  }
  .navbar .search-bar{
    width: auto;
    background-color: #fff;
  }
  .navbar .search-bar .search-icon{
    color: #000;
  }
  .navbar .search-bar input{
    display: none;
  }
}